{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}}
<!-- top of page -->
{{ if .GetParam "hasMath"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1" crossorigin="anonymous"></script>  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/contrib/auto-render.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/contrib/auto-render.min.js" integrity="sha384-dq1/gEHSxPZQ7DdrM82ID4YVol9BYyU7GbWlIwnwyPzotpoc57wDw/guX8EaYGPx" crossorigin="anonymous"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      renderMathInElement(document.body, {delimiters: [ // mind the order of delimiters(!?)
        {left: "$$", right: "$$", display: true},
        {left: "$", right: "$", display: false},
        {left: "\\[", right: "\\]", display: true},
        {left: "\\(", right: "\\)", display: false}
        ]});
    });
  </script>
{{ end }}
{{end}}
{{ define "main"}}

  <div id="main">
    <div id="hero">
      <h1> {{ .Title}} </h1>
      <p class="hero-lead">
           {{ .Params.description | safeHTML }}.
      </p>

    </div> 
    <div id="kube-component" class="content">
    {{ partial "toc" .}}

    {{ .Content}}
<!-- Inject script tag in this template  -->
    {{if .Params.script}}
     {{ $script := (delimit (slice "scripts" .Params.script) "/")}}
    {{ partial (string $script) .}}
    {{end }}
    </div>
    </div>
{{ end }}
